html
  head
    meta(charset="UTF-8")
    title Calendar
  body
    div.header
    div.navigation
      ul
        li Month
        li Week
        li Day
    div.app

    //- div
    //-   h4 with a green background