html
  head
    meta(charset="UTF-8")
    title Calendar
  body
    div.header
    div.navigation
      ul
        li.month-button Month
        li.week-button Week
        li.day-button Day
    div.app

    //- div
    //-   h4 with a green background